<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047631902542-fbcigvfnt3csev0b2ec34uggqdf4fofl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047631902542-fbcigvfnt3csev0b2ec34uggqdf4fofl</string>
	<key>API_KEY</key>
	<string>AIzaSyBYAhodNrB0_spbQx1jqiqvzkynjdRelAY</string>
	<key>GCM_SENDER_ID</key>
	<string>1047631902542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>airplane-b0617</string>
	<key>STORAGE_BUCKET</key>
	<string>airplane-b0617.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047631902542:ios:a52684456aaa7583e3101f</string>
</dict>
</plist>